{% extends 'base.html' %}

{% block header %}

{% endblock %}


{% block content %}

    <div >

        <div class="serialSettings">

            <form>

                <label> Log File Name <input id="logFileNameEntry" value="log.log"></label>
                <label> CSV File Name<input id="csvFileNameEntry" value="AvionicsData"></label>

            </form>


        </div>

        <button id="downloadButton" class="main_button">Download Data</button>

    </div>
    <script src="../static/download_script.js"></script>
{% endblock %}