{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div>
    <div class="terminal_view">
        <textarea id="term_dsp" rows="20" cols="80"  disabled spellcheck="false" wrap="off"></textarea>

    </div>
    <div class="terminal_entry">
        <textarea id="term_entry" rows="1" cols="80"  spellcheck="false" wrap="off" placeholder="Enter commands here!"></textarea>
    </div>
    <button id="refreshTerminalBtn">Refresh</button>
</div>
<hr>

    <div class="serialSettings" >
    <h2>Connect To The Flight Computer</h2>
        <div style="width: 100%;">

                <div style="text-align: center">
                    <form  name="comPortList" >
                        <label>COM Port:</label>
                        <select id="comPortList">
                            <option>None available.</option>

                        </select>

                    </form>
                    <button id="refreshCOM" onclick="getComPorts">Refresh</button>
                </div>

                <div >
                    <form  action="javascript:void(-1)" autocomplete="off">
                        <label>Baudrate:</label>
                        <input id="baudEntry" list="baudRates"  />
                        <datalist id="baudRate">
                          <option value="9600">
                          <option value="115200">
                        </datalist>
                    </form>
                </div>


         </div>
            <form >
            <input id="ConnectSerialButton"type="button" value="Connect">
        </form>
    </div>





    <script src="../static/dashboard_script.js"></script>
{% endblock %}