html { font-family: sans-serif; background: var(--secondary-bckgnd); padding: 1rem; }
body { margin: 0 auto; background: var(--main-bckgnd); border-radius: 25px;}
h1 { font-family: serif; color: var(--main-dark); margin: 1rem 0; }
a { color: var(--highlight); }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray;  display: flex; align-items: center; padding: 0 0.5rem; border-top-left-radius: 25px;
    border-top-right-radius: 25px;}
nav h1 { flex: auto; margin: 0; text-align: center }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav  .action { display: block; padding: 0.5rem; }
.content { padding: 0 0rem 1rem 0rem ; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: var(--highlight); border: 1px solid var(--highlight); }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: var(--main-light); font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input{ margin-bottom: 1em; }
/*.content textarea { min-height: 12em; resize: vertical; }*/
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }


:root{
    --main-dark:        #575757;
    --main-light:       #bfbfbf;
    --highlight:        #f48029;
    --secondary-dark:   #a82932;
    --secondary-light:  #e15152;
    --main-bckgnd:      #F5F5DC;
    --secondary-bckgnd: #fffaf0;

}
/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--main-bckgnd);
  overflow: hidden;
    width: 100%;


}

/* Style the links inside the navigation bar */
.topnav ul li a {

  display: block;
  float: left;
  color: black;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
  font-size: 17px;
    width: 100%;

}

.topnav ul{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.topnav ul li{
    float:left;
    width: 25%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--secondary-dark);
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--highlight);
  color: black;
}

.terminal_entry {
    text-align: center;
        margin:0 auto !important;

}
.terminal_view {
    text-align: center;
    margin: 0 auto !important;
}


.terminal_entry textarea {

    background-color: black;
    color: var(--secondary-light);
    color: var(--secondary-light);
    resize: none;
    margin:0 0 25px !important;
    padding: 0 0px 25px 0px ;
    border: none;
    height: 25px;
    background-clip: content-box;
    overflow: hidden;
    width:100%;
    font-family: "Courier New";
    font-size: 15pt;
    -webkit-appearance:none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: none;
}

.terminal_view textarea{
    margin:25px 0 0  !important;
    padding: 25px 0px 0 ;
    border: none;
    background-color: black;
    color: var(--secondary-light);
    resize: none;
    //background-clip: content-box;
    width:100%;
    font-family: "Courier New";
    font-size: 12pt;
-webkit-appearance:none;

}

.serialSettings {
    color:var(--main-dark);
    text-align:center;
    border-radius: 5px;


}

.serialSettings input {

    margin: 0 auto;
    width: 50%;
    text-align: center;
    display: block;
    border-radius: 5px;
    border:0;
    background: var(--main-light);
}

.serialSettings select{
    text-align: center;
      margin: 0 auto;
    display: block;
    width: 50%;
     border-radius: 5px;
    border:0;
    background: var(--main-light);
}

.serialSettings button,input[type=button]{
      margin: 0 auto;
    text-align: center;
    display: block;
    width: 50%;
     border-radius: 5px;
    border:0;
    background: var(--main-dark);
    color: white;

}

.main_button {

    margin: 10px auto;
    text-align: center;
    display: block;
    width: 50%;
    border-radius: 5px;
    border: 0;
    background: var(--main-dark);
    color: white;

}
.downloadPage{

    text-align: center;
}

