{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Flight Computer Control Panel{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="get" action="../plot">
    <button name="action" value="connect">Connect</button> <!-- Start the serial port monitor program, indicate if successful-->
      <button name="action" value="dashboard">Dashboard</button> <!-- Go to dash board with config options -->
      <button name="action" value="plot">Plot</button><!-- Start the data download, then go to visualization page -->
     <button name="action" value="downloadData">Download Data</button><!-- Start the data download, then go to visualization page -->
  </form>
{% endblock %}